{% extends 'base.html' %}

{% block content %}
 <!-- Start -->
        <section class="section" style="padding-top: 0;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h1 class="title mb-4">{{ search | title }}</h1>
                            <p class="text-muted para-desc mx-auto mb-0">This is all <span class="text-primary font-weight-bold">{{ search | title }}</span> related product.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    {% for post in posts %}
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card categories overflow-hidden rounded shadow border-0">
                            <a href="{{ post.1 }}"> <img src="{{ post.3 }}" class="img-fluid" alt=""></a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between mb-0">
                                    <li><a href="{{ post.1 }}" class="title h6 text-dark">{{ post.0  }}  </a></li>
                                    <li class="h6 mb-0 jobs"><span class="text-primary font-weight-bold">{{ post.2 }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end col-->
                     {% endfor %}
                </div><!--end row-->
            </div><!--end container-->


        </section><!--end section-->

{% endblock content %}